<?xml version="1.0"?>

<model>
  <name>Office Chair</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>https://3dwarehouse.sketchup.com/user/0813977342185631482644457/decetive</name>
  </author>

  <author>
    <name>Giovanni Toffetti</name>
    <email>toff@zhaw.ch</email>
  </author>

  <description>
    A model of an office chair at InIT.
  </description>

</model>
